@media (max-width: 1120px) {
    * {
        margin: 0;
        padding: 0;
        border: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(255, 255, 255);
    }
    
    .imput {
        padding: 30px, 15px;
        border-color: black;
    }
    
    .texugo {
        max-width: 100px;
        max-height: 100px;
        text-align: right;
        margin: 0%;
        margin-left: 57%;
        border: 0%;
        background-color: transparent;
        position: absolute;
    } 
    
    h1 {
        text-align: center;
        color: #ffffff;
        padding-bottom: 1%;
        padding-top: 1%;
        background-color: #03314b;
        padding-left: 0;
    }
    
    #header-01 {
        background-color: #6886a0;
        padding-top: 2%;
        font-size: 13px;
        
    }
    
    #header-02 {
        background-color: #6886a0;
        font-size: 20px;
        padding-bottom: 0.25%;
        padding-top: 0.25%;
    }
    
    #header-03 {
        background-color: #6886a0;
        padding-bottom: 2%;
        font-size: 13px;
    }
    
    .quem-somos {
        text-align: center;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        color: rgb(0, 0, 0);
        background-color: #d5dde0;
        font-size: 10.9px;
        
    }
    
    h3 {
        padding-left: 3%;
        padding-top: 2%;
    }
    
    h4 {
        padding-left: 3%;
        
    }
    
    #ajuste-1 {
        padding-bottom: 1%;
    }
    
    #ajuste-2 {
        padding-top: 1%;
    }
    
    h2 {
        padding-left: 3%;
        
    } 
    
    .planos-titulo {
        text-align: center;
        padding-top: 2%;
    }
    
    .planos-subtitulo {
        text-align: center;
        padding-top: 1%;
    }
    
    .planos-conteudo-01 {
        text-align: center;
        padding-top: 10%;
    }
    
    .planos-conteudo-02 {
        padding-top: 10%;
        padding-left: 3%;
        text-decoration-line: line-through;
    }
    
    .desconto {
        background-color: greenyellow;
        text-decoration-line: none;
        position: absolute;
        margin-left: 0.5%;
        padding-left: 0.5%;
        padding-right: 0.5%;
        border-radius: 10px;
    }
    
    .preco {
        padding-top: 3%;
        padding-left: 7%;
    }
    
    .preco-01 {
        padding-top: 1%;
        padding-left: 3%;
    }
    
    .hospedagem {
        background-color: rgb(255, 255, 255);
        padding-bottom: 1%;
        padding-top: 1%;
        margin-top: 2%;
        color: #212930;
        text-align: center;
    }
    
    .header {
        background-color: rgb(255, 255, 255);
        padding: 0;
        margin: 0;
        border: none;
    }
    
    .desativas {
        margin-top: 3%;
    }

    .desativas-text {
        text-align: center;
        font-size: 14px;
        color: rgb(0, 0, 0);
    }
    
    #title-topicos {
        font-size: 18px;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 2%;
    }
    
    .topicos {
        padding-top: 1%;
        padding-left: 0%;
        padding-bottom: 1;
        font-size: 17px;
        text-align: start;
        list-style: none;
    }
    
    .topicos-text {
        padding-left: 2%;
        padding-right: 3%; 
        font-size: 13px;
        text-align: center;
    }
    
    .topicos-text-end {
        padding-left: 2%;
        padding-right: 3%;
        padding-bottom: 3%;
        font-size: 13px;
        padding-bottom: 1%;
        text-align: center;
    }
    
    .title-conteudo-01 {
        padding-top: 1%;
        padding-left: 0%;
        padding-bottom: 1;
        font-size: 18px;
        text-align: center;
    }
    
    .conteudo-01 {
        padding-top: 1%;
        padding-left: 2%;
        padding-right: 3%;
        font-size: 13px;
        text-align: center;
    }
    
    .box-1 {
        width: 200px;
        height: 500px;
        padding-left: 3%;
        
    }
    
.responsivo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

    .plano-1 {
        width: 350px;
        height: 1000px;
        margin-left: 1%;
        margin-top: 3%;
        padding-top: 0%;
        margin-bottom: 3%;
        border: 1px;
        border-style: solid;
        border-color: black;
        display: inline-block;
        
        
    }
    
    .plano-2 {
        width: 350px;
        height: 1000px;
        margin-left: 1%;
        padding-top: 0%;
        margin-bottom: 3%;
        border: 1px;
        border-style: solid;
        border-color: black;
        display: inline-block;
        
    }
    
    .plano-3 {
        width: 350px;
        height: 1000px;
        margin-left: 1%;
        padding-top: 0%;
        margin-bottom: 3%;
        border: 1px;
        border-style: solid;
        border-color: black;
        display: inline-block;
        
    }
    
    .conteudos-planos {
        padding-top: 50%;
    }
    
    .conteudos-planos-01 {
        padding-top: 3%;
        padding-left: 5%;
        list-style: none;
    }
    
    
    
    #teste {
        align-items: center;
        justify-content: space-between;
    }
    
    
    
    #botao-01 {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 3%;
    }
    
    .botao-externo {
        display: inline-block;
        padding: 10px 44px;
        background-color: #6200ff; /* Cor de fundo do botão (neste caso, azul) */
        color: #fff; /* Cor do texto do botão (branco) */
        text-decoration: none; /* Remover sublinhado padrão de links */
        border-radius: 4px; /* Bordas arredondadas */
        font-size: 18px; /* Tamanho do texto */
        font-weight: bold; /* Texto em negrito */
        transition: background-color 0.3s; /* Efeito de transição ao passar o mouse */
      }
      
      /* Estilo do botão quando o cursor estiver sobre ele */
      .botao-externo:hover {
        background-color: #4e0181; /* Nova cor de fundo ao passar o mouse (tom mais escuro de azul) */
      }
}